/* General styles */
body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App {
  display: flex;
  flex: 1;
  align-self: center;
}

/* Navbar styles */
nav {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  
}

nav img {
  height: 40px;
  margin-right: 1rem;
}

nav h1 {
  margin: 0;
  
}

/* Sidebar styles */
aside {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin: 1rem 0;
}

aside ul li a {
  text-decoration: none;
  color: #333;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

/* Main content styles */
main {
  margin-left: 220px;
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* List styles */
ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  list-style: none;
  padding: 0;
}

li {
  margin: 1rem 0;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
}

img {
  display: block;
  margin: 0.5rem 0;
}

/* Form styles */
form {
  margin-bottom: 2rem;
  align-self: center;
  width: 50%;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

form input[type="checkbox"] {
  margin-right: 0.5rem;
}

form button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Estilo base del sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding-top: 20px;
}

/* Estado oculto */
.sidebar-closed {
  transform: translateX(-100%);
}

/* Estado visible */
.sidebar-open {
  transform: translateX(0);
}

/* Links del sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
}

.sidebar ul li a {
  color: #ccc;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #fff;
}

.dashboard-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top, center;
  width: 50%;
}