/* General styles */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
h2 {
  color: rgb(235, 119, 11);
  border: #0e0b0b;
}


.App {
  display: flex;
  flex: 1;
  align-self: center;
}

/* Navbar styles */
nav {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  
}

nav img {
  height: 60px;
  margin-right: 1rem;
}

nav h1 {
  margin: 0;
  
}

/* Sidebar styles */
aside {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 150px;
  
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin: 1rem 0;
}

aside ul li a {
  text-decoration: none;
  color: #333;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: rgb(235, 119, 11);
  text-align: right;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  opacity: 0.2;
  height: 15px;
  position: fixed;
  
}

/* Main content styles */
main {
  margin-left: 200px;
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* List styles */
ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  list-style: none;
  padding: 0;
}

li {
  margin: 1rem 0;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
}

img {
  display: block;
  margin: 0.5rem 0;
  border-style: solid;
  border-radius: 20px;
}

/* Form styles */
form {
  margin-bottom: 2rem;
  align-self: center;
  width: 50%;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

form input[type="checkbox"] {
  margin-right: 0.5rem;
}

form button {
  padding: 0.5rem 1rem;
  background-color: #2e1717;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Estilo base del sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding-top: 20px;
}

/* Estado oculto */
.sidebar-closed {
  transform: translateX(-100%);
}

/* Estado visible */
.sidebar-open {
  transform: translateX(0);
}

/* Links del sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
}

.sidebar ul li a {
  color: #ccc;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #fff;
}

.dashboard {
  background-color: rgb(36, 33, 29);
}


.dashboard-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top, center;
  width: 50%;
}

.sort-dropdown {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  justify-self: center;
  border-radius: 4px;
}

.sort-dropdown:hover {
  background-color: rgb(235, 119, 11);
}

.dashboard-sort-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: top;
  align-items: center;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center ;
  border-style: solid;
  border-radius: 25px;
  width: 100%;
  background-image: url(../public/4.jpeg);
   ;
}

.item-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.item-details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vh;
  background-image: url(../public/1.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60vh;
  background-blend-mode: color-burn;
}

.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top, center;
  width: 30%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: rgb(235, 119, 11);
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(../public/0698a055-e0ab-4d01-9fd4-106bcde979c8.jpg);
  background-size: contain;
  background-position: center;
  background-color: #fffcfc;
  background-repeat: no-repeat;
}

.about-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.about-container h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.about-container p {
  color: #555;
  line-height: 1.6;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.button {
  background-color: rgb(235, 119, 11);
  margin: 10px;
}

.item-details-text {
  display: flex;
  flex-direction: column;
  width: 50vh;
  justify-content: center;
  align-items: center;
}